name: mcos Build Server
on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**.md"
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  schedule:
    - cron: "11 6 * * 0" # 6:31 UTC Sunday
    - cron: "11 6 * * 1,2,3,4,5,6" # 6:31 UTC Monday-Saturday
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build-server-stable:
    name: Server Stable
    uses: ./.github/workflows/reusable-build.yml
    secrets: inherit
    with:
      images: '["ucore-minimal"]'
      streams: '["stable"]'
      flavors: '["main", "nvidia"]'
  build-server-testing:
    name: Server Testing
    uses: ./.github/workflows/reusable-build.yml
    secrets: inherit
    with:
      images: '["ucore-minimal"]'
      streams: '["testing"]'
      flavors: '["main", "nvidia"]'
